<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset</h2>
    <p>Hello <%= firstName %>,</p>
    <p><b>Don't share this otp with anyone</b></p>
    <p>your one-time password is <%= otp %></p>
    <p>you can reset your password by clicking on below link</p>
    <a  href="http://localhost:2000/resetPassword">Reset Paasword</a>
    <p>If you didn't request this, please ignore this email.</p>

</body>
</html>